*{
    box-sizing: border-box;
    color:#0a0a0a;
}
body{
    font-size: 1.7rem;
    font-family: "Jua", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    background:#FEEFDE;
   
}
.container {
    width: 50%;
    /* margin: 150px 200px 200px 450px;  */
    margin: 0 auto;
    background: #DAE3E6;
    padding: 50px 100px 100px 100px;
    
  }

#product-list{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Amatic SC", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.input-logon,
.input-register,
.input-product{
    font-size : 1.5rem;
    font-family: "Jua", Calibri, Verdana, Geneva, Tahoma, sans-serif;
}
.name,
.email,
.password,
.email-logon,
.password-logon{
    font-size : 2.5rem;
    font-family: "Amatic SC", Calibri, Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    text-transform: uppercase;
    cursor: pointer;
}

#logon,
#register,
#logon-button,
#logon-cancel,
#register-button,
#register-cancel,
#logoff,
#delete-account{
    background-color: #DEAF5F;
    color:#0a0a0a;
    font-family: "Jua", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    border:  solid;
    border-color: #7C8B9A;
    padding: 5px 5px;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
  th, td {
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.input-logon,
.input-register{
    float: right;
    width: 75%;
    margin-top: 10px;
}
.input-product{
    float: right;
    width: 50%;
    margin-top: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
