*{
    box-sizing: border-box;
}

body{
    font-size: 2rem;
    font-family: "Dongle", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    /*copyright free images from unsplash.com*/
    background-image: url(./final/10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.container {
    width: 50%;
    margin: 0 auto;
    background: #c1cbb9 ;
    padding: 50px 100px 100px 100px; 
    border-radius: 20px;
}

#product-list{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Amatic SC", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.input-logon,
.input-register,
.input-product{
    font-size : 1.5rem;
    font-family: "Dongle", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

.name,
.email,
.password,
.email-logon,
.password-logon{
    font-size : 2.5rem;
    font-family: "Amatic SC", Calibri, Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    text-transform: uppercase;
    cursor: url(./final/brushh.png), pointer; /*free icon from flaticon*/
}

#logon,
#register,
#logon-button,
#logon-cancel,
#register-button,
#register-cancel,
#logoff,
#delete-account{
    background-color: #20323E;
    font-family: "Dongle", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    border:  solid;
    color: #D7D7D7;
    margin: 10px 0;
    padding: 0 5px;
    border-radius: 20px;
}
#logon,
#register,
#register-button,
#register-cancel,
#logon-button,
#logon-cancel,
#logoff {
    float: right;
}


button:active {
    background-color:#AAD6A0 ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}
  
  th, td {
    text-align: center;
    padding: 3px 6px;
}
  
tr:nth-child(even) {
    background-color: #dfdfda;
}

.email-logon,
.password-logon{
    float: left;
    width: 30%;
}

.input-logon{
    float: right;
    width: 70%;
    margin-top: 10px;
}

.name,
.email,
.password{
    float: left;
    width: 40%
}

.input-register{
    float: right;
    width: 60%;
    margin-top: 10px;
}

.label-product{
    float: left;
    width: 50%;
}

.input-product{
    float: right;
    width: 50%;
    margin-top: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#table-information{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 50px;
    border: solid #666;
    border-width: 1px;
    padding: 0 2px;
}

#footer{
    position: relative;
    text-align: center;
    margin-top: 100px;
    bottom:10px;

}

/* On screens that are max px wide */

@media screen and (max-width: 768px) {

    body{
        background-size: 160%;
    }
    
    .container{
        width: 100%;
        margin: 0 auto;
    }

    table {
        align-items: center;
        width: 100%;
    
    }
    th, td {
        text-align: center;
        padding: 6px;
    }
   
}

@media screen and (min-width:769px){
    .email-logon,
    .password-logon,
    .input-logon,
    .name,
    .email,
    .password,
    .input-register,
    .label-product,
    .input-product{
        display: flex;
    }

    .input-logon,
    .input-register,
    .input-register{
        flex-direction: column;
    }

   

   
}
      
@media screen  and (max-width:1320px) {
    .email-logon,
    .password-logon,
    .input-logon,
    .name,
    .email,
    .password,
    .input-register,
    .label-product,
    .input-product{
        width: 100%;
        margin-top: 0;
    }

    #footer{
        font-size: 1.5rem;
    }

    .name,
    .email,
    .password,
    .email-logon,
    .password-logon{
    font-size : 2.0rem;
    }
}