*{
    box-sizing: border-box;
    color:#0a0a0a;
}

body{
    font-size: 1.7rem;
    font-family: "Jua", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    /*royalty free images from pexels*/
    background-size: 55%;
    background-image: url(./final/pexels-vie-studio-4857813.jpg), url(./final/pexels-ready-made-3847489_edit.jpg);
    background-repeat: no-repeat;
    background-position: left, right;
    
  
}

.container {
    width: 50%;
    margin: 0 auto;
    background: #DAE3E6;
    padding: 50px 100px 100px 100px;
    
}

#product-list{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Amatic SC", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.input-logon,
.input-register,
.input-product{
    font-size : 1.5rem;
    font-family: "Jua", Calibri, Verdana, Geneva, Tahoma, sans-serif;
}

.name,
.email,
.password,
.email-logon,
.password-logon{
    font-size : 2.5rem;
    font-family: "Amatic SC", Calibri, Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    text-transform: uppercase;
    cursor: url(./final/brushh.png), pointer; /*free icon from flaticon*/
}

#logon,
#register,
#logon-button,
#logon-cancel,
#register-button,
#register-cancel,
#logoff,
#delete-account{
    background-color: #DEAF5F;
    color:#0a0a0a;
    font-family: "Jua", Calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    border:  solid;
    border-color: #7C8B9A;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 4px;
}
#logon,
#register,
#register-button,
#register-cancel,
#logon-button,
#logon-cancel {
    float: right;
}

button:active {
    background-color:#AAD6A0 ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
  th, td {
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.input-logon,
.input-register{
    float: right;
    width: 75%;
    margin-top: 10px;
}

.input-product{
    float: right;
    width: 50%;
    margin-top: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

